<div class="row inner-footer">
  <div class="col-5">
    <div class="content">
      <div class="company"></div>
      <br />
      <span class="copyright">
        soakedteam&#64;execs.com
        <br />
        <br />
        All Rights Reserved 2024.
      </span>
    </div>
  </div>

  <div class="col">
    <span class="title">Socials</span>
    <div class="social-links">
      <a
        href="https://www.instagram.com/godimsoaked"
        target="_blank"
        class="social"
      >
        <img
          src="../../../assets/img/instagram.png"
          alt="instagram"
          class="social-img"
        />
        <span class="subtitle">Instagram</span>
      </a>
      <a href="https://kick.com/godimsoaked" target="_blank" class="social">
        <img
          src="../../../assets/img/kick.png"
          alt="discord"
          class="social-img"
        />

        <span class="subtitle">Kick</span>
      </a>
      <a
        href="
        https://twitter.com/godimsoaked"
        target="_blank"
        class="social"
      >
        <img
          src="../../../assets/img/twitter.png"
          alt="twitter"
          class="social-img"
        />
        <span class="subtitle">Twitter</span>
      </a>
    </div>
  </div>

  <div class="col">
    <span class="title">BeGambleAware.com</span>
    <span class="subtitle disclaimer">
      Responsible Gambling Advisory: While gambling can be entertaining, it's
      crucial to be aware of the associated risks. Exercise self-control, set
      limits, and seek support if needed. Enjoy the excitement responsibly and
      prioritize your well-being.
    </span>
  </div>
</div>
