<section>
    <div class="toggle-images" style="margin-top: 50px; position: sticky">
      <a href="/" style="cursor: pointer">
        <img
          class="game-image clash-image"
          id="clashImage"
          src="../../../assets/img/roobetlogo.png"
          [style.opacity]="getRoobetOpacity()"
          style="
            cursor: pointer;
            background-color: transparent;
            border-radius: 100%;
          "
          onclick="window.location.href='/'"
        />
      </a>
      <div
        class="vertical-line"
        style="height: 80px; border-left: 2px solid white; margin: 0 20px"
      ></div>
  
      <a
        href="/packdraw"
        style="cursor: pointer; display: flex; justify-content: center"
      >
        <img
          class="game-image clash-image"
          id="clashImage"
          src="../../../assets/img/packdraw.png"
          [style.opacity]="getPackdrawOpacity()"
          style="
            cursor: pointer;
            background-color: transparent;
            border-radius: 50%;
            object-fit: cover;
          "
          onclick="window.location.href='/leaderboard/packdraw'"
        />
      </a>
    </div>
  
    <div
      class="text"
      style="
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
      "
    >
      <span class="title">
        <div class="price-wrapper glow" style="text-align: center">$ 1500</div>
        CODE <span class="glow">GODIMSOAKED</span> Leaderboard!
      </span>
      <span class="subtitle" style="text-align: center">
        Every <b>BET</b> on Packdraw under Code <b>GODIMSOAKED </b> counts towards
        your score. <br />
        <i>The leaderboard updates every month on the 1st.</i><br />
        <div class="button-container" style="position: sticky">
          <a
            class="custom-button"
            href="https://packdraw.com?ref=godimsoaked"
            style="cursor: pointer"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="currentColor"
              stroke="none"
            >
              <path d="M8 5v14l11-7z"></path>
            </svg>
            PLAY NOW !
          </a>
        </div>
      </span>
    </div>
  </section>
  